PORT=5000
MONGO_URI=mongodb+srv://tawakkulboutique:boutique%40123@cluster0.rwpf29d.mongodb.net/tawakkulDB
JWT_SECRET=tawakkul_super_secret_jwt_key_2024
JWT_EXPIRE=7d
ADMIN_EMAIL=admin@tawakkulboutique.com
ADMIN_PASSWORD=Admin@1234
ADMIN_NAME=Super Admin
NODE_ENV=development
